<h2>Local Government Areas</h2>

<div>
    Enter the lga_id of the LGA to be checked <br>
    We'll return the number of polling units there <br>

    <sub><i>(Please note that the lga id's are only between 1-31)</i></sub>
    <input type="number" class="input" >
    <button>Check</button>
</div>

<script>
    const id = document.querySelector('.input')
    const btn = document.querySelector('button')
    btn.addEventListener('click', click)

    function click(){
        fetch(`http://localhost:3000/lga/${id.value}`).then(res=>{
            res.json().then(val=>{
                if(document.body.querySelector('.new')){
                    document.body.removeChild(document.body.querySelector('.new'))
                }
                newElement(val)
            })
        })
    }

    function newElement(response){
        let el = response
        let div = document.createElement('div')

        div.classList.add('new')
        div.innerHTML = `
        Number of polling units : ${response.length}
        `
        document.body.appendChild(div)
    }
    
</script>